# config/entities/categories.yaml

entity:
  name: "categorie"
  table: "categories"
  label: "Catégorie"
  labelPlural: "Catégories"
  defaultPageSize: 10

fields:
  - name: "id"
    type: "uint"
    label: "id"
    readonly: true
    default: null
  - name: "libelle"
    type: "string"
    label: "Labellé"
    default: ""
  - name: "date_maj"
    type: "date"
    label:  "Date MAJ"
    required: true
  - name: "pod"
    type: "uint"
    label: "Pod"
    required: false
    default: null
  - name: "podvisu"
    type: "uint"
    label: "pod visu"
    required: False
    default: null
    readonly: false

forms:
  - name: "categorieList"
    type: "list"
    entity: "categories"
    config:
      pageSize: 10   
      defaultSortField: "id"
      defaultSortOrder: "asc"
      pageSizeOptions: [5, 10, 25, 50]
      columns: ["id", "libelle"]
      searchableFields: ["id", "libelle"]
      sortableFields: ["id", "libelle"]
      labels:
        title: "Liste des catégories"

  - name: "categorieFiche"
    type: "fiche"
    entity: "categories"
    config:
      groups:
        - name: "Infos principales"
          fields: 
          - name: "id"
          - name: "libelle"
          - name: "date_maj"
          - name: "pod"
            type: combo_base  
            sql: |
              SELECT id,libelle
              FROM categories
              WHERE 1 = 1
              ORDER BY libelle
            keyField: id
            displayFields:
                - id
                - libelle
            separator: " - "
          - name: "podvisu"
            type: vision 
            cssClass: "field-podvisu"
            sql: |
              SELECT id,libelle
              FROM categories
              WHERE 1 = 1
              ORDER BY libelle
            keyField: id
            displayFields: 
              - id
              - libelle   
            returnField: id                # colonne qu’on renvoie dans client_id
            modalTitle: "Sélectionner une catégorie"  
      labels:
        titleCreate: "Création d’une catégorie"
        titleUpdate: "Édition d’une catégorie"
        submitCreate: "Créer"
        submitUpdate: "Enregistrer"
        cancel: "Annuler"

  # --- NOUVEAU FORMULAIRE VISION ---
  - name: "subCategoriesVisu"
    type: "vision"
    config:
      sql: |
        SELECT id, libelle, date_maj
        FROM categories
        WHERE pod = :parent_id
      params:
        - name: "parent_id"
          source: "context"
          contextField: "id" # Le nom du paramètre dans l'URL
      actions:
        allowCreate: false
        allowUpdate: true
        allowDelete: false
      columns: ["id", "libelle", "date_maj"]
      labels:
        title: "Sous-catégories"
      pageSize: 5
      defaultSortField: "libelle"
      defaultSortOrder: "asc"
