/* surcharge rapide pour podvision */
.field-podvision .form-control {
  border: 2px dashed orange;
  background-color: #fff8e1;
}

/* 1re colonne (id) */
#modal-podvisu table thead th:nth-child(1),
#modal-podvisu table tbody td:nth-child(1) {
  width: 50px;        /* largeur fixe */
  max-width: 50px;
}

/* 2e colonne (libelle) */
#modal-podvisu table thead th:nth-child(2),
#modal-podvisu table tbody td:nth-child(2) {
  width: 150px;       /* largeur fixe */
  max-width: 150px;
}